[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
codecov = "*"
coverage = "*"
eradicate = "*"
"flake8" = "*"
ipython = "*"
isort = "*"
pdb_clone = "*"
py = ">=1.4.17,<2"
pylama = "*"
pytest = "*"
pytest-mock = "*"
sphinx = "*"
tblib = "*"
twine = "*"
watchdog = "*"
xlrd = "*"

[packages]
flask = "*"
flask-restplus = "*"
isort = "*"
mako = "*"
psycopg2-binary = "*"
pylama = "*"
pyproj = "*"
recommonmark = "*"
shapely = "*"
sphinx = "*"
gunicorn = {{'{'}}{%if cookiecutter.gunicorn_class not in ['gaiohttp', 'sync']%}extras = ["{{cookiecutter.gunicorn_class}}"], {% endif %}version = ">=19.8"}


{% if cookiecutter.with_celery %}
# celery
celery = {version = ">={{cookiecutter.celery_version}}"}
flower = {version = ">={{cookiecutter.flower_version}}"}
{% endif %}

{% if cookiecutter.with_sentry %}
# sentry
raven = { extras = ["flask"], version = "=={{cookiecutter.raven_ver}}" }
{% endif %}

[requires]
python_version = "{{cookiecutter.py_ver}}"
